<!DOCTYPE html>
<html lang="pt-br">

<%- include(`head`); %>

<body>

	<%- include(`header`); %>
	
	<section class="banner">
		<div class="banner__img" src="./assets/img/banner.jpg" alt="banner"></div>
		<h2 class="banner__titulo">Reaproveite melhor os alimentos</h2>
	</section>


	<section class="sobre" id="início">
		<h3 class="sobre__titulo">Receitas para economizar e ganhar saúde</h2>
			<p class="sobre__descricao">Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar, ganhar
				tempo e praticidade</p>
	</section>

	<section class="receitas" id="receitas">

		<% receitas.forEach((receita)=>{ %>
		<div class="receita">
			<img src="<%= receita.image %>">
				<div class="receita__conteudo">
					<h4 class="receita__titulo"><%= receita.title %></h4>
					<p class="receita__descricao"><%= receita.paragraph %></p>
					<button class="<%= receita.button %>">Ver receita</button>
				</div>
			</div>
			<% }) %>

	</section>

	<section class="quem-somos" id="quem-somos">
		<div class="quem-somos__dados">
			<h5 class="quem-somos__titulo">Quem Somos</h5>
			<p class="quem-somos__descricao">Conheça a comunidade por trás da iniciativa</p>
		</div>
	</section>

	<section class="pessoas">

		<% pessoas.forEach((pessoa)=>{ %>

			<div class="pessoa">
				<img class="<%= pessoa.imageClass %>">
				<div class="pessoa__conteudo">
					<h6 class="pessoa__nome"><%= pessoa.title %></h6>
					<p class="pessoa__descricao"><%= pessoa.paragraph %></p>
				</div>
			</div>
		<% }) %>

	</section>

	<%- include(`footer`); %>

	<script src="./receitas.js"></script>

</body>

</html>